body,
html {
  height:200vh;
  margin: 0;
  color: snow;
}

.bg {
  background-image: url("image.png");
  flex:1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative; 
  z-index: 1; 
}

#city {
  padding: 10px;
  width: 50%;
}
#btn {
  padding: 10px;
}

input[type="button"] {
  background-color: rgb(30, 91, 144);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}

.show {
  flex: 1.5;
  line-height: 0.5;
  background-color: rgb(3, 2, 4);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(251, 247, 247);
  font-weight: bold;
  border: 3px solid #000000;
  padding: 5px;
  display: none;
}

.map {
  flex: 1;
  height: fit-content;
  height: 300px;
  margin-left: 3%;
}

.get-weather {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 3%;
}

img {
  width: 5%;
}

#city::first-letter {
  text-transform: capitalize;
}
h2 {
  display: inline-block;
  font-size: 30px;
}
h2::first-letter {
  text-transform: capitalize;
}

#temprature {
  font-size: 50px;
  display: inline-block;
  margin-left: 2%;
  margin-right: 5%;
}
#feel-like {
  display: inline-block;
}
.other-info {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-top: -2px;
}
.week-wise {
  display: flex;
  width: 80%;
  gap: 2%;
  margin: auto;
  margin-top: 2%;
}
.week-wise > div {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  line-height: 0.1;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  padding: 5px;
}
.week-wise > div > img {
  width: 50%;
}
#navbar {
  display: flex;
  height: 80px;
  color: whitesmoke;
  background-color: #16224e;
 
}
a {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 5%;
  padding: 5px;
}
.searchBar {
  flex: 3;
  margin-top: 20px;
  margin-left: 40px;
}
.name {
  flex: 1;
  margin-top: 5px;
  margin-left: 1%;
}
.home {
  flex: 2;
  padding: 20px;
}
h1 {
  margin-top: 8px;
  font-size: 30px;
  color:rgb(252, 253, 255);
  font-family:cursive;
}
.show img {
  width: 8%;
}

.footer {
  background: linear-gradient(to bottom, #333, #222);
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Arial', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:8%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100; 
}

/* Footer Content */
.footer-content p {
  margin: 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons .icon {
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

/* Hover Effects for Icons */
.social-icons .icon:hover {
  transform: scale(1.2);
}

/* Specific Icon Colors */
.icon.facebook:hover {
  color: #3b5998;
}

.icon.google:hover {
  color: #db4437;
}

.icon.instagram:hover {
  color: #e1306c;
}

/* Footer Note */
.footer-note {
  margin-top: 10px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}
